#pragma code_page(65001)
#include "OmsiLaunch.Identity.h"
#define VS_FFI_FILEFLAGSMASK 0x0000003fL
#define VOS__WINDOWS32 0x00040004L
#define VFT_APP 0x00000001L
#define VFT2_UNKNOWN 0x00000000L
#define VS_VERSION_INFO 1
1 ICON "../../assets/icons/OmsiLaunch.ico"
VS_VERSION_INFO VERSIONINFO
 FILEVERSION OMSILAUNCH_FILE_VERSION_COMMAS
 PRODUCTVERSION OMSILAUNCH_FILE_VERSION_COMMAS
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
 FILEFLAGS 0x0L
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "CompanyName", OMSILAUNCH_COMPANY_NAME
   VALUE "Comments", OMSILAUNCH_PRODUCT_COMMENTS
   VALUE "FileDescription", "OmsiLaunch Runtime Controller - Windows Host"
   VALUE "FileVersion", OMSILAUNCH_FILE_VERSION
   VALUE "InternalName", "OmsiLaunchW"
   VALUE "LegalCopyright", OMSILAUNCH_LEGAL_COPYRIGHT
   VALUE "OriginalFilename", "OmsiLaunchW.exe"
   VALUE "ProductName", OMSILAUNCH_PRODUCT_NAME
   VALUE "ProductVersion", OMSILAUNCH_PRODUCT_VERSION
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
